body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll on the body */

    
}


.loginBox{
    border: 3px solid black;
    background-color: white;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 100%;
}
.entries{
    border: 1px black;    
    background-color: lightgray;
    margin: auto;
    text-align: center;
    width: 60%;
    color: #6D6D6D;
}

.entries input{
    border: 1px black;    
    background-color: lightgray;
    margin: auto;
    width: 98%;
    text-align: center;
    color: #6D6D6D;
}

.pageText{
    text-align: center;
    color: black;
    font-family: Inter;
    font-size: 70%;
}
.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6D6D6D;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0, 0, 3% #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(25%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.greenButtons{
    border: 1px black;    
    background-color: lightgreen;
    margin: auto;
    text-align: center;
    width: 40%;
    color: black;
    border-radius: 10px;
}



.greenButtons button{
    border: 1px black;    
    background-color: lightgreen;
    margin: auto;
    width: 100%;
    text-align: center;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.greenButtons button:active{
    border: 1px black;    
    background-color: rgb(98, 193, 98);
    margin: auto;
    width: 100%;
    text-align: center;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: #6D6D6D;
    border-width: 3px;
}
.greyButtons{
    border: 1px black;    
    background-color: lightgray;
    margin: auto;
    text-align: center;
    width: 40%;
    color: black;
    border-radius: 10px;
}
.greyButtons button{
    border: 1px black;    
    background-color: lightgray;
    margin: auto;
    width: 100%;
    text-align: center;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}




.signInVia{
    border: 2px solid black;    
    background-color: white;
    margin: auto;
    text-align: left;
    width: 70%;
    color: black;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 5px;

}

.infoSections{
    border: #6D6D6D outset 2px;
    border-radius: 10px;
    margin: 5px 5px 15px 5px;
    text-align: left;
    background-color: #e9e9e9;
    margin-left: clamp(22%, 200px, 38%);
    margin-right: clamp( 5%, 10%, 1000px);

}

.topscreen {
    top: -20px;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}


@media screen and (max-width: 915px) {
    .topscreen {
        flex-direction: column;
        align-items: flex-start;  /* Adjust alignment for smaller screens */
        margin-bottom: 50px;
    
    }
    
    .topnav {
        margin-top: 60px;  /* Add some space between elements */
        position: absolute;
        left: -36%;

    
    }

    .setTitle {
        margin-left: 23%; 
        padding: 10px 10px; 
        position: relative; 
        margin-top: 50px
        
    }
}

@media screen and (max-width: 600px) {
    .topscreen{
        left: 40px;
        position: relative;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .topnav{
        display: none;
    }

    .setTitle {
        margin-left: 23%; 
        padding: 10px 10px; 
        position: relative; 
        margin-top: 0px;
        
    }
}

.topnav{
    list-style-type: none;
    width: 370px;
    margin-left: clamp(90px, 60%, 65%);
    margin-right: 50px;
    overflow: hidden;
    background-color: #7fb2ff;
    right: 30px;
    top: 40px;
    position: absolute;
    border-radius: 15px;

}

.topnav a{
    float: inline-end;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: clamp(10px, 20px, 40px);
    padding-left: clamp(10px, 20px, 40px);
    text-decoration: underline;

}


.topnav a.active{
    text-decoration: none;
}

.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    min-width: 130px;
    max-width: 200px;
    background-color: #7fb2ff;
    position: fixed;
    height: 80%;
    top: 0px;
    left: 0px;
    overflow: auto;
    display: inline-block;
    border-radius: 0px 0px 100000px 0px;

}

.sidenav a{
    display: block;
    color: #000;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    border-bottom: none;
    background:linear-gradient(black,black) bottom no-repeat;
    background-size: 50% 3px;
}

.sidenav a.active{
    background-color: white;
}

.sidenav a:hover:not(.active){
    background-color: #000;
    color: white;
}

.createcard {
    font-family: 'Inria Sans';
    width: 230px;
    position: relative; 
    background: white; 
    border: 1px black solid;
    top: 10px;
    padding-right: 30px;
    margin-left: clamp(150px, 25%, 300px);
    border-radius: 15px;
    display: inline-block;
}

.dosis{
    font-family: Dosis
}


.search{
    font-family: 'Inria Sans';
    width: 200px;
    margin-left: clamp(3px, 50px, 200px);
    position: relative; 
    background: white; 
    border: 1px black solid;
    top: 10px;
    align-self: center;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}


@media screen and (max-width: 900px){
    .align{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        display: inline-block;
        left: 25%;
        margin-left: 2%;
    }
    .search{
        margin-top: 10px;
        margin-left: clamp(150px, 25%, 250px);
    }

}

.footer {
    height: 60px;
    bottom: 0px;
    width: 100%;
    background-color: #e9e9e9;
    border:  #6D6D6D outset 2px;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    margin-top: 20px;
    padding-bottom: 30px;


}

.footer a{
    float: left;
    display: block;
    text-align: center;
    padding-left: 2%;
    width: 30%;
}



textarea[type=text]{
    background-color: #e9e9e9;
    width: 70%;
    padding: 12px 20px;
    size: 55%; 
    resize: vertical;

}

::placeholder {
    color: #6D6D6D;
}

.overviews {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 20%;
    min-width: 100px;
    max-width: 250px;
    background-color: #b9b9b9;
    height: 800px;
    top: 100px;
    right: 10px;
    position: absolute;
    overflow: auto;
    display: inline-block;
    border-radius: 10px;
}

.overviews top{
    text-align: center;
    display: block;
    color: #000;
    padding: 30px 20px;
    
}

.overviews maintext{
    text-align: center;
    display: block;
    color: #000;
    padding: 0px 10px;
    font-size: 14px;
}

.saveandexit{
    display: inline-block;
    text-align: center;
    background-color: #ff6b6b;
    padding: 15px 15px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 250px;
}

.navContainer{
    position: relative;
}

.nextpage {
    text-align: center;
    position: absolute;
    right: 30px;
    bottom: 20px;

}

.lastpage {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 30px;

}

/* Default styles for the container and links */
#loginContainer {
    position: absolute;
    right: 10px;
    top: 30px;
    display: flex;
    justify-content: flex-end;
}

#loginContainer a {
    padding: 10px;
    color: black;
    margin-left: 10px; 
}
@media screen and (max-width: 640px) {
    #loginContainer {
        flex-direction: column;
        align-items: flex-end;
    }

    #loginContainer a {
        margin: 5px 0; 
    }
}

@media screen and (max-width: 550px) {
    #loginContainer {
        display: none;
    }
}

.setTitle {
    margin-left: 23%; 
    padding: 10px 10px; 
    position: relative; 
}

.popUp {
    display: none;
    /* Add additional styling for the element */
    position: relative;
}

.popupTextArea{
    background-color: #e9e9e9;
    width: 70%;
    padding: 12px, 20px;
    size: 55%; 
    resize: vertical;
}

.text-block {
    display: inline-block;
    width: 40%; /* Adjust the width as needed */
    margin: 10px;
    padding: 5px;
}

@media screen and (max-width: 900px) {
    .text-block {
        display: block;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}

.userInfo{
    margin-left: 28%;
    position: relative;
    margin-top: 70px;
    width: 80%;
    height: 300px;
}

.editable {
    max-height: 400px; /* Set your desired max height */
    max-width: 30%; /* Set your desired max width */
    overflow: auto; /* Add overflow auto to enable scrolling if content exceeds the specified max dimensions */
    display: inline-block; /* Allow the element to grow/shrink within the specified dimensions */
}

.savedCards{
    position: relative;
    margin-left: 28%;
    width: 40%;
    height: 150px;
}

.userCards{
    position: relative;
    margin-left: 28%;
    width: 40%;
    height: 150px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    text-align: center;
}