<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" href="../static/style.css">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <style>
        </style>
        <script src="../static/script.js" defer></script>    
    </head>
<body>
<h1 style="text-align: center;  color: black; font-size: 34px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    DataSafe
</h1>

<div class="loginBox">
    <h2>User Registration</h2>
    <div class="entries">
        <input type="text" style="text-align: center;" id="name" placeholder="Name">
    </div>
    <br>
    <div class="entries">
        <input type="text" style="text-align: center;" id="email" placeholder="Email Address">
    </div>
    <br>
    <div class="entries">
        <input type="date" style="text-align: center;" id="dob">
    </div>
    <br>
    <div class="entries">
        <input type="text" style="text-align: center;" id="password" placeholder="Password">
    </div>
    <br>
    <div class="entries">
        <input type="text" style="text-align: center;" id="confirmPassword" placeholder="Confirm Password">
    </div>
    <br>
   
    <div class="pageText">
        <span>Remeber details for automatic login</span>
        <label class="switch">
            <input id="remeberMeCheckbox" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="greenButtons">
        <button onclick="validatePassword()">Register</button>
    </div>
    
    <p style="font-size: 10px;">Or simply:</p>
    <div class="greyButtons">
        <button onclick="continueAsGuest()">Continue as guest</button>
    </div>

</div>

</body>
</html>
