<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" href="../static/style.css">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <script src="../static/script.js" defer></script>        <
    </head>
<body>

    <div class="sidenav">
        <li style="text-align:center; padding-top: 20px; padding-bottom: 10px; font-size:30px;">
            DataSafe
        </li>
        <li>
            <a class="active" href="home.html">Home</a>
        </li>
        <li>
            <a href="intro.html">Creating a data card</a>
        </li>
        <li>
            <a href="account.html">Account</a>
        </li>
        <li>
            <a href="browse.html">Browse</a>
        </li>
        <li>
            <a href="saved.html">Saved Cards</a>
        </li>
        <li>
            <a href="account.html">Logout</a>
        </li>
    </div>

    <div id="displayInfo">
        <h3> display here </h3>
    </div>
    
    <div class="footer" style="font-family: 'Inria Sans'; position:relative">
        <a><u>Contact us:</u> <br> DataSafe@gmail.com <br> DataSafe.twitter </a>
        <a><u>Having Probelems?</u> <br> Find our FAQs here: <br> DataSafeFAQs.com</a>
        <a><u>Other useful links:</u> <br> linktoethicspaper.com <br> otherlink.com</a>
    </div>
</body>