<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Calvin Condie">
        <link rel="stylesheet" href="../static/style.css">
        <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
        <script src="myscripts.js"></script>

        <style>
        </style>
    </head>
<body>

   

    <button style="bottom:0px; right: 10px; position: fixed;">siand</button>

    

    
</body>